
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout", "Admin")

<body>
    <div class="container-scroller">
        @Html.Action("PartialNavbar", "AdminLayout", "Admin")
        <div class="container-fluid page-body-wrapper">
            @Html.Action("PartialSidebar", "AdminLayout", "Admin")
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        @RenderBody()

                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tunahan Cengiz</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://github.com/tunadeveloper" target="_blank">Github /</a> <a href="https://www.linkedin.com/in/tunahancengiz/" target="_blank">LinkedIn </a> Full Stack .NET Core Developer</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/eatwell-master/vendors/base/vendor.bundle.base.js"></script>
    <script src="/eatwell-master/js/off-canvas.js"></script>
    <script src="/eatwell-master/js/hoverable-collapse.js"></script>
    <script src="/eatwell-master/js/template.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
