@model List<BurgerMenuProject.Entities.Message>
@{
    int count = 0;
    string[] colorClasses = { "destek-color", "tesekkur-color", "duyuru-color", "finans-color", "menu-color", "diger-color" };
}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesajlar Sayfası</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Alıcı</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Mesajı Aç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            string colorClass = item.Title == "Destek" ? colorClasses[0]
            : item.Title == "Teşekkür" ? colorClasses[1]
            : item.Title == "Duyuru" ? colorClasses[2]
            : item.Title == "Finans" ? colorClasses[3]
            : item.Title == "Menü" ? colorClasses[4]
            : colorClasses[5];
                            <tr>
                                <td>@count</td>
                                <td>@item.ReceiverEmail</td>
                                <td class="@colorClass">@item.Title</td>
                                <td>@item.SendDate.ToShortDateString()</td>
                                <td><a href="javascript:void(0)" class="btn btn-dark" onclick="showReservationDetails('@item.Content')">Mesajı Aç</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Message/NewMessage/" class="btn btn-info">Yeni Mesaj Gönder</a>
            </div>
        </div>
    </div>
</div>
