@model PagedList.IPagedList<BurgerMenuProject.Entities.Message>
@{
    ViewBag.Title = "SendBox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
    string[] colorClasses = { "destek-color", "tesekkur-color", "duyuru-color", "finans-color", "menu-color", "diger-color" };
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesajlar Sayfası</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Alıcı</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Mesajı Aç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            string colorClass = item.Title == "Destek" ? colorClasses[0]
: item.Title == "Teşekkür" ? colorClasses[1]
: item.Title == "Duyuru" ? colorClasses[2]
: item.Title == "Finans" ? colorClasses[3]
: item.Title == "Menü" ? colorClasses[4]
: colorClasses[5];
            <tr>
                <td>@count</td>
                <td>@item.ReceiverEmail</td>
                <td class="@colorClass">@item.Title</td>
                <td>@item.SendDate.ToShortDateString()</td>
                <td><a href="javascript:void(0)" class="btn btn-dark" onclick="showMessageDetails('@item.Content')">Mesajı Aç</a></td>
            </tr>
        }
                    </tbody>
                </table>
                <a href="/Admin/Message/NewMessage/" class="btn btn-info">Yeni Mesaj Gönder</a>
            </div>
        </div>
    </div>
</div>


<div class="row bt mt-4">
    <div class="col-sm-12 text-center">
        <ul class="pagination pagination-lg justify-content-center">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("SendBox", "Message", new { page = ViewBag.CurrentPage - 1 })" aria-label="Önceki">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("SendBox", "Message", new { page = i })">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("SendBox", "Message", new { page = ViewBag.CurrentPage + 1 })" aria-label="Sonraki">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>


<!--=================================================================================================-->
<!-- Popup Start -->
<!--=================================================================================================-->
<div class="modal fade" id="messageDetailsModal" tabindex="-1" role="dialog" aria-labelledby="messageDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageDetailsLabel">Mesaj</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="message-content" id="messageDetailContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<!--=================================================================================================-->
<!-- Script Start -->
<!--=================================================================================================-->
<script src="/regal/vendors/jquery/jquery.min.js"></script>
<script src="/regal/vendors/base/vendor.bundle.base.js"></script>

<script>
    function showMessageDetails(message) {
        document.getElementById('messageDetailContent').innerText = message;
        $('#messageDetailsModal').modal('show');
    }
</script>



<!--=================================================================================================-->
<!-- Style Start -->
<!--=================================================================================================-->
<style>

    .pagination .page-item.active .page-link {
        background-color: #ec37fc;
        border-color: #ec37fc;
        color: white;
    }

    .pagination .page-link {
        color: black;
    }

        .pagination .page-link:hover {
            color: #ec37fc;
        }

    .modal-body {
        padding: 20px;
        background-color: #f9f9f9;
    }

    .message-content {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .modal-title {
        color: #333;
    }

    .modal-header {
        border-bottom: 2px solid #007bff;
    }

    .destek-color {
        color: blue;
    }

    .tesekkur-color {
        color: green;
    }

    .duyuru-color {
        color: orange;
    }

    .finans-color {
        color: purple;
    }

    .menu-color {
        color: brown;
    }

    .diger-color {
        color: gray;
    }
</style>