
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.CategoryCount</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.ProductCount</h4>
                </div>
            </div>


        </div>

        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.ReservationCount</h4>
                </div>
            </div>
        </div>

    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.InboxCount</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.SendboxCount</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.SubsriptionsCount</h4>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.ProductMinPrice</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.ProductAveragePrice</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.ProductMaxPrice</h4>
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.AdminCount</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.CreditCardCount</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stretch-card d-flex text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Sayısı</h4>
                    <h4 class="text-dark font-weight-bold mb-2">@ViewBag.DealOfTheDayCount</h4>
                </div>
            </div>
        </div>
    </div>

</div>