@model BurgerMenuProject.Entities.Admin
@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Yönetici Ekle</h4>
            <br /><br />
            <form method="post">
                <label>Adı</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Soyadı</label>
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                <br />
                <label>E-Posta Adresi</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <br />
                <label>Kullanıcı Adı</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                <br />
                <label>Şifre</label>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Yöneticiyi Ekle</button>
            </form>
        </div>
    </div>
</div>